/*

export const Container: React.FC<ContainerProps> = ({
    className,
    ...rest
}) => {
    return (
        <div className={`kit-container ${className}`} {...rest} />
    )
}

export const RowContainer: React.FC<ContainerProps> = ({
    className,
    ...rest
}) => {
    return (
        <div className={`kit-container kit-container-row ${className}`} {...rest} />
    )
}

export const ColumnContainer: React.FC<ContainerProps> = ({
    className,
    ...rest
}) => {
    return (
        <div className={`kit-container kit-container-column ${className}`} {...rest} />
    )
}
*/

.kit-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &.kit-container-row {
        flex-direction: row;
    }

    &.kit-container-column {
        flex-direction: column;
    }
}